<div class="modal fade" id="login">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">

        <button class="close" data-dismiss="modal">x</button>

        <h2 class="modal-style">Sign In</h2>
        <p class="modal-style">For admin only!<p>

      </div>

      <div class="modal-body">
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
          <div class="modal-style">
            <%= f.label :email %><br />
            <%= f.email_field :email, :autofocus => true %>
          </div>

          <div class="modal-style">
            <%= f.label :password %><br />
            <%= f.password_field :password %>
          </div>

          <% if devise_mapping.rememberable? -%>

          <div class="modal-style">
            <%= f.check_box :remember_me %> <%= f.label :remember_me %>
          </div>

          <% end -%>
      </div>
        <%= f.submit "Sign in", :class => 'btn btn-small btn-success' %>
        <% end %>
    </div>

      <div class="modal-footer">

        <%= render "devise/shared/links" %>

      </div>
    </div>
  </div>
</div>