<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
      
        <ul class="bxslider">
          <% @projects.each do |project| %>
            <li>
              <%= link_to (image_tag project["covers"]["404"]), project["url"], :class =>'img-responsive center block', :size => "1100x125"%>
            </li>
          <% end %>
          <div class="js-video [vimeo, widescreen]">
            <li>
              <iframe src="https://player.vimeo.com/video/120739736" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </li>
          </div>
        </ul>
      
      <h6 id="re-sponsive"><strong>Hey!</strong> If you are on a desktop or laptop try resizing your browser window.<br/>
        TTT brings responsive web design to life with elegant animations and thoughtful implementation of UI/UX principles!
      </h6>
      <div class="home-screen-panels fadeIn">
      
        <!-- Nav tabs -->
        <ul id="myTab" class="nav nav-tabs" role="tablist">
          
          <li role="presentation" class="active">
            <a href="#about" aria-controls="about" role="tab" data-toggle="tab">
              ABOUT
            </a>
          </li>

          <li role="presentation">
            <a href="#post-production" aria-controls="post-production" role="tab" data-toggle="tab">
              POST PRODUCTION
            </a>

          </li>

          <li role="presentation">
            <a href="#graphic-design" aria-controls="graphic-design" role="tab" data-toggle="tab">
              GRAPHIC DESIGN
            </a>
          </li>

          <li role="presentation">
            <a href="#web-development" aria-controls="web-development" role="tab" data-toggle="tab">
              WEB DEVELOPMENT
            </a>
          </li>

        </ul>

        <!-- Tab panes home-tab-content -->
        <div id="myTabContent" class="tab-content tab-panels">
          
          <div role="tabpanel" class="tab-pane fade in active" id="about">
            <%= render 'partials/about_panel' %>
          </div>

          <div role="tabpanel" class="tab-pane fade" id="post-production">
            <%= render 'partials/post_production_panel' %>
          </div>

          <div role="tabpanel" class="tab-pane fade" id="graphic-design">
            <%= render 'partials/graphic_design_panel' %>
          </div>

          <div role="tabpanel" class="tab-pane fade" id="web-development">
            <%= render 'partials/web_development_panel' %>
          </div>
        
        </div>  
      </div>
    </div>
  </div>
</div>
