
<div class="container">
  <div class="sign-up">
    <%= form_for @post do |f| %>
      <%= f.label :title %><br>
      <%= f.text_field :title %><br>

      <%= f.label :body %><br>
      <%= f.text_area :body %><br>

      <%= f.submit %>
      <% if @post.errors.any? %>
        <div class="post-style">
          <p><%= pluralize(@post.errors.count, "error") %> prevented this post from saving</p>
          <ul class="list">
            <% @post.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

    <% end %>
  </div>
</div><br>