
<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <!-- Render navbar partial -->
    <%= render 'shared/navbar' %>

    <!-- Logo -->
    <div class="banner">
      <%= image_tag("TTT-logo-v2_1.png", :size => "1100x125") %>
    </div>

    <!-- Render content page -->
    <div>
      <%= yield %>
    </div>

    <!-- devise alerts -->
    <div class="post-style">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>

    <!-- Admin Login Nav -->
    <div class="row admin">
      <div class="col-xs-4"></div>

      <div class="col-xs-12">
        <% if admin_signed_in? %>
          <ul class="admin-nav">      
            <li><p><%= link_to 'Admin Page', edit_admin_registration_path %></p></li>
            <li><p><%= link_to 'Log Out', destroy_admin_session_path, :method=>'delete' %></p></li>
          </ul>
        <% else %>
          <ul class="admin-nav">
            <li><p><%= link_to('Login', new_admin_session_path ) %></p></li>
          </ul>
        <% end %>
      </div>

      <div class="col-xs-4"></div>
    </div>

  </body>
</html>
