
<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <!-- Render navbar partial -->
    <%= render 'shared/navbar' %>

    <!-- Logo -->
    <div class="banner">
      <%= image_tag("TTT-logo-v2_1.png", :size => "1100x125") %>
    </div>

    <!-- Render content page -->
    <%= yield %>

    <!-- Admin Login Nav -->
    <div class="btn-group" role="group" aria-label="...">
      <button type="button" class="btn btn-default">Sign in</button>
    </div>

  </body>
</html>
