
<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script type="text/javascript"> 
      $(function () { $("#myModal").modal({show:false }); 
    </script>
  </head>
  <body>
    <!-- Render navbar partial -->
    <%= render 'partials/navbar' %>
    
    <!-- Render devise partial -->
    <%= render "partials/login_modal" %>

    <!-- Logo -->
    <div class="banner">
      <%= image_tag("TTT-logo-v2_1.png", :size => "1100x125") %>
    </div>
    <div class="divider-top">
    
    </div>
    <!-- Render content page -->
    <div>
      <%= yield %>
    </div>
    
    <div class="divider-bottom">
      <!-- Admin Login Nav -->
      <div class="admin">
        <div class="col-xs-2 col-xs-offset-5">
          <% if admin_signed_in? %>
            <ul class="list">      
              <li><p><%= link_to 'Admin Page', admin_path %></p></li>
              <li><p><%= link_to 'Log Out', destroy_admin_session_path, :method=>'delete' %></p></li>
            </ul>
          <% else %>
            <p class="admin-buttons"><%= link_to "Login", "#login", "data-toggle" => "modal", :class =>'btn bt-small' %></p>
          <% end %>

          <!-- devise alerts -->
          <div class="post-style">
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
          </div>
        </div>
      </div>
    </div>
      

  </body>
</html>
