
<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <!-- Render navbar partial -->
    <%= render 'shared/navbar' %>

    <!-- Logo -->
    <div class="banner">
      <%= image_tag("TTT-logo-v2_1.png", :size => "1100x125") %>
    </div>

    <!-- Render content page -->
    <div>
      <%= yield %>
    </div>

    <!-- devise alerts -->
    <div class="post-style">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>

    <!-- Admin Login Nav -->
    <div class="row admin">
      <div class="col-xs-4"></div>

      <div class="col-xs-12">
        <ul class="admin-nav">      
          <li><p><a href="#">Log In</a></p></li>
          <li><p><a href="#">Log Out</a></p></li>
        </ul>
      </div>

      <div class="col-xs-4"></div>
    </div>

  </body>
</html>
