
<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- Logo -->
  <div class="banner">
    <%= image_tag("TTT-logo-v2.png", :size => "1000x125") %>
  </div>

  <!-- Render navbar partial -->
  <%= render 'shared/navbar' %>

  <!-- Render content page -->
  <%= yield %>

</body>
</html>
